{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}
<div class="container">

    <img src= "{{ user.profile_picture.url }}"> 
    <h2>About {{ object.first_name }}</h2>
    <p>{{ object.about_me}}</p>

    <p class="calltoaction"> Like my stories? Drop me a line here: {{ object.email }}</p>
    <br>


    {% if object %}
        <h2>{{ object.first_name }}'s Stories</h2>
        {% for story in object.stories.all %}
        <div class="story-card" id="story-card-{{ position }}">
            <a href="{% url 'news:story' story.id %}">
                <img src='../media/{{ story.main_image }}'>                
                <div class="story-card-text">
                    <h3>{{ story.title }}</h3>
                    <h4><a href="{% url 'users:author' story.author.id %}">{{ story.author }}</a></h4>
                    <h4>{{ story.pub_date }}</h4>
                </div>
            </a>       





        </div>        
        {% endfor %}
    {% else %}
        <p>This author has not written any stories yet.</p>
    {% endif %}
</div>
{% endblock %}











