@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1.5;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   line-height: 2.5;

}

h3 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
    padding-top: 10px;
    font-variant: small-caps;

}

h4 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    opacity: 80%;
    padding-top: 10px;
    font-family: monospace;


}

h5 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5;
    opacity: 80%;
    padding-top: 1px;
    font-family: monospace;
    color: white;
    font-variant-caps: all-petite-caps;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;

}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
    line-height: 1.5;
    opacity: 95%;
}


form {
    padding: 20px;
    background-color: white;

}

#id_title {
    min-width: 300px;
}

.button-styles {
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    border: 2px solid #cfcbdd;
    background-color: white;
    padding: 10px;

}

.calltoaction {
    font-weight: bold;
}

#latest-stories {
    background-color: #c3ddd3;
    padding: 50px
}

.story-card {
    background-color: white;
}

form {
    background-color: #cec9e4;
}