
{% load humanize %}


<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
    <!-- takes you to the view of the story in the story card -->
        {% if position < 5 %}
            <img src='media/{{ story.main_image }}'>
        {% else %}
            <img src='media/{{ story.main_image }}'>
        {% endif %}
            <!-- <h5 id=cats >{{ story.category }}</h5> -->
        <div class="story-card-text">
            <h5 id=cats >{{ story.category }}</h5>
            <h3>{{ story.title }}</h3>
            <h4>By: {{ story.author }}</h4>
            <h4>Published: {{ story.pub_date|naturaltime }}</h4>
        
            
        </div>
    </a>
</div>
 